body {
  font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
form {
  margin-left: auto;
  margin-right: auto;

}


.custom-button {
  display: inline-block;
  color: #FFFFFF;
  background-color: #8AC007;
  padding: 0.7% 2.0%;
  text-decoration: none;
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 5px;
  border: 1px solid #8AC007;
  border-radius: 5px;
  white-space: nowrap;
}

.custom-button:hover {
  display: inline-block;
  color: #8AC007;
  background-color: #FFFFFF;
  padding: 0.7% 2.0%;
  text-decoration: none;
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 5px;
  border: 1px solid #8AC007;
  border-radius: 5px;
  white-space: nowrap;
}
